<!DOCTYPE html>
<html>
    <head>
	
		<link href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap" rel="stylesheet">
	
		<title>DLSU Profs to Pick</title>
		
		<link rel="stylesheet" href="css/styleMP.css">
        <link rel="stylesheet" href="../css/styleMP2.css">
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
		
	</head>

    <body class="out">
        <div id="outBox">
            <p id="prompt2">Error 404</p>
            <div class="line"></div>
            <p id="prompt">Woops! Looks like this page doesn't exist. (・_・ ;){{{extra}}}</p>
        </div>
	</body>				
</html>
