@font-face{
	font-family:Anders;
	src: url(Anders.ttf);		
}

body{
	margin: 0px;
	background-color: #ccedd2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Navigation Bar START */
	p{
		text-align: center;
		margin: 0px;
	}

	ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: flex;
		justify-content: center;
		align-items: center;
		
		margin: 10px;
		border-radius: 3px;
		background-color: #756b64;
		
		box-shadow: 5px 5px grey;
	}

	li a{
		display: block;
		color: white;
		font-family: "Source Sans Pro";
		text-align: center;
		font-weight: bold;
		padding: 5px 10px;
		text-decoration: none;
	}

	button{
		background-color: #756b64;
		border: none;
		border-radius: 2px;
		margin: 2px;
		padding: 5px;
		
		color: white;
		
		box-shadow: 5px 5px grey;
	}

	li a:hover{
		background-color: white;
		border-radius: 3px;
		
		color: #756b64;
	}
	
	.this{
		background-color: white;
		border-radius: 2px;
		
		color: grey;
		
		box-shadow: 5px 5px #756b64;
	}

	button:hover{
		background-color: white;
		border-radius: 3px;
		
		color: #756b64;
	}

	#navBar{
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		padding: 10px;
		border-bottom-color: #756b64;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		background-color: #94d3ac;
		
		height: 100px;
		width: 95%;
	}

	#header{
		text-align: center;
		color: #756b64;
		font-family: Anders;
		text-decoration: overline underline;
        font-size : xx-large;
		margin: 0px;
	}

	#searchKey{
		background-color: #756b64;
		border: none;
		border-radius: 2px;
		margin: 2px;
		padding: 5px;
		
		color: white;
		
		box-shadow: 5px 5px grey;
	}

	#searchB{
		background-color: #756b64;
		border: none;
		margin: 0px;
		padding: 1px;
		width: 30px;

		color: white;

		box-shadow: 5px 5px grey;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Navigation Bar END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> home.about START */
	h3{
		color: white;
		text-align: center;
		width: 150px;
		margin: 5px;
		background-color: #756b64;
		
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	h3 + p{
		font-weight: bold;
		padding: 0px 10px;
	}
	
	#about{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		margin: 10px;
		min-height: 100px;
		width: 70%;
		background-color: #94d3ac;
		box-shadow: 5px 5px #756b64;
		
		color: grey;
		font-family: "Source Sans Pro";
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> home.about END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> home.parent START */
	img{
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	}
	
	.box h3{
		padding: 5px;
		width: 200px;
	}
	
	.revEntry p{
		text-align: left;
	}
	
	.top p{
		color: #94d3ac;
		padding: 2px;
	}
	
	.top a{
		display: block;
		padding: 2px;
		
		color: white;
		font-family: "Source Sans Pro";
		text-align: center;
		font-weight: bold;
		text-decoration: none;
	}
	
	.reviewer a{
		display: block;
		padding: 5px;
		
		color: white;
		font-family: "Source Sans Pro";
		text-align: center;
		font-weight: bold;
		text-decoration: none;
	}

	.toProf{
		display: block;

		background-color: #94d3ac;
		margin: 0px 5px;
		padding: 5px;
		border-radius: 5px;

		color: #756b64;
		font-family: "Source Sans Pro";
		text-align: center;
		text-decoration: none;
	}
	
	.box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		
		margin: 10px;
		padding: 20px 5px;
		min-height: 400px;
		width: 400px;
		
		background-color: #94d3ac;
		box-shadow: 5px 5px #756b64;
		
		text-align: center;
		color: #756b64;
		font-family: "Source Sans Pro";
	}
	
	.revEntry{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 95%;
		min-height: 100px;
		margin: 5px;
		background-color: #756b64;
        
        box-shadow: 5px 5px grey;
	}
	
	.revAbt{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.reviewer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 2px 5px 2px -5px;
		padding: 5px;
		border-radius: 5px;
		height: 20px;
	}
	
	.revTag, .revDet{
		background-color: #94d3ac;
		margin: 2px 5px;
		padding: 5px;
		border-radius: 5px;
		color: #756b64;
	}

	.reviewee, #reviewBox p.reviewee{
		background-color: #756b64;
		margin: 0px;
		padding: 0px;
		border-radius: 5px;
		color: white;
	}

	.revDet{
        background-color: grey;
		border-radius: 5px;
        margin: 5px;
        min-width: 92%;
        max-width: 93%;
		color: white;
	}
	
	.dpIcon{
		border-radius: 30px;
		margin: 5px;
		
		box-shadow: none;
	}
	
	.top{
		width: 250px;
		margin-top: 0px;
		margin-bottom: 10px;		
		background-color: #756b64;
		box-shadow: 5px 5px grey;
		font-weight: bold;
	}
	
	.revAbt a:hover{
		background-color: white;
		
		color: #756b64;
		font-weight: bold;
    }
    
    .top a:hover{
        background-color: white;
        
		color: #756b64;
    }
    
    p.reviewer a:hover{
        border-radius: 5px;
    }

	#parent {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	
	#latest {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		
		margin: 5px 5px 5px 5px;
		padding-top: 0px;
		padding-bottom: 5px;
		min-width: 400px;
		min-height: 200px;
        background-color: #94d3ac;
	}
	
	#theOne {
		height: 210px;
		width: 250px;
		margin-top: 10px;
		margin-bottom: 0px;
		padding-top: 10px;
		background-color: #756b64;
		
		font-weight: bold;
		
		box-shadow: 5px 5px grey;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> home.parent END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> profile.content START */
	#content p{
		padding-left: 10px;
		padding-right: 10px;
		
		text-align: justify;
		
		color: white;
		font-family: "Source Sans Pro";
	}
	
	#content h3{
		width: 150px;
		margin: 15px 0px;
		background-color: #756b64;
		
		color: white;
		font-family: "Source Sans Pro";
		text-align: center;
		
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #reviewBox .revTag{
        color: #756b64;
    }
	
	.detailDiv{
		margin: 2px;
		min-height: 20px;
		width: 330px;
		
		border-radius: 2px;
		
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		
		background-color: #756b64;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	.label{
		padding-right: 0px;
		font-weight: bold;
	}

	.buttonX{
		padding: 3px;
		margin: 0px 1px;
		border-radius: 10px;
		border-color: darkgrey;
		border-width: 2px;
		border-style: solid;
		background-color: #756b64;
	}

	.buttonE{
		padding: 3px;
		margin: 0px 1px;
		border-radius: 10px;
		border-color: darkgrey;
		border-width: 2px;
		border-style: solid;
		background-color: #756b64;
	}

	#content{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	
	#info{
		display: flex;
		justify-content: center;
		align-items: center;
	
		margin: 5px;
		min-width: 600px;
		min-height: 200px;
		background-color: #94d3ac;
		box-shadow: 5px 5px grey;
	}
	
	#picture{
		display: flex;
		justify-content: center;
		align-items: center;
		
		width: 200px;
		height: 200px;
	}
	
	#details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 5px;
		
		width: 330px;
		min-height: 200px;
		color: white;
	}
	
	#reviews{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		
		margin: 5px;
		padding-top: 0px;
		padding-bottom: 5px;
		min-width: 600px;
		min-height: 500px;
		background-color: #94d3ac;
		box-shadow: 5px 5px grey;
	}
	
	#reviewBox{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		
		width: 580px;
		min-height: 400px;
	}

	.editDiv{
		display: flex;
		justify-content: center;
		align-items: center;

		max-width: 97%;
		padding: 3px;
		margin:5px;
		border-color: darkgrey;
		background-color: orange;
	}

	.editRev{
		max-width: 95%;
	}

	.buttonX:hover{
		background-color: red;
		border-color: darkgrey;
		color: grey;
	}
	
	.buttonE:hover{
		background-color: orange;
		border-color: darkgrey;
		color: grey;
	}

	.cancelEdit:hover{
		background-color: red;
		border-color: darkgrey;
		color: grey;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> profile.content END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> view.container START */
	.college h3{
		padding: 5px;
        border-radius: 2px;
        width: 300px;
        background-color: white;

        color: #756b64;
	}
	
	.profs li{
		border-radius: 2px;
	}

	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	
	.college{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		
		padding: 10px;
		margin: 10px;
		background-color: #94d3ac;
		box-shadow: 5px 5px #756b64;
		
		min-height: 200px;
		width: 500px;
		
		font-family: "Source Sans Pro";
	}
	
	.profs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		width: 100%;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> view.container END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> result.resultBox START */
	#resultBox h3{
		min-width: 200px;
		padding: 5px;
	}

	#resultEntries li{
		border-radius: 2px;
	}
	
	#resultBox{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		padding: 10px;
		background-color: #94d3ac;
		box-shadow: 5px 5px #756b64;
		
		height: 70%;
		width: 50%;
		
		font-family: "Source Sans Pro";
	}
	
	#resultEntries{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		width: 100%;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> result.resultBox END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> faculty.reviews START */
	#reviews input, textarea{
		border-color: #756b64 ;
		border-style: solid; 
		background-color: #756b64;
		margin: 2px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		
		color: white; 
	}
	
	#reviews form{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;
		width: 580px;

		margin: 2px;
		
	}
	
	#review{
		flex-grow: 2;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> faculty.reviews END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> login.outbox START */
	fieldset{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	div > form{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px 0px 5px 0px;
	}
	
	#outBox legend{
		margin: 5px;
		font-family: "Source Sans Pro";
		color: #756b64;
	}
	
	#outBox input{
		background-color: #756b64;
		border-radius: 30px;
		border-width: 2px;
		border-color: #94d3ac;
		border-style: solid;
		padding: 2px 10px;
		
		color: #94d3ac;
		font-size: 15px;
	}
	
	.out{
		min-height: 500px;
	}
	
	.line{
		margin: 5px;
		width: 90%;
		height: 2px;
		background-color: #756b64;
	}
	
	.button{
		padding: 2px;
		width: 230px;
		background-color: #756b64;
		
		color: #94d3ac;
		text-align: center;
		text-decoration: none;
		font-family: "Source Sans Pro";
		font-size: 15px;
		font-weight: bold
	}
	
	form .button{
		width: 100px;
		border-radius: 30px;
		border-color: #94d3ac;
		margin: 5px;
	}
	
	#outBox{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		padding: 10px;
		background-color: #94d3ac;
		box-shadow: 5px 5px #756b64;
		
		height: 70%;
		width: 50%;
	}
	
	#outBox #header{
		text-align: center;
		color: #756b64;
		font-family: Anders;
		text-decoration: overline underline;
		font-size : xxx-large;
		margin: 0px;
	}

	#error{
		margin: -5px 0px 5px 0px;

		text-align: center;
		color: red;
		font-family: "Source Sans Pro";
		font-weight: bold;
	}
	
	.button:hover{
		background-color: #94d3ac;
		border-color: #756b64;
		border-width: 2px;
		border-style: solid;
		
		color: #756b64;
	}
	
	fieldset ::placeholder, form ::placeholder{
		color: white;
		opacity: 0.85;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> login.outbox END */
	
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> signup.outbox START */
	#success{
		margin: -5px 0px 5px 0px;

		text-align: center;
		color: green;
		font-family: "Source Sans Pro";
		font-weight: bold;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> signup.outbox END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> logout.outbox END */
	#prompt{
		margin: 20px;
		font-family: "Source Sans Pro";
		color: grey;
	}
	#prompt2{
		margin: 20px;
		font-family: "Source Sans Pro";
		color: grey;
		font-size : xxx-large;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> logout.outbox END */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Miscellaneous START */
	::-webkit-scrollbar {
	  width: 10px;
	}

	::-webkit-scrollbar-track {
	  background: #FFFFFF;
	}

	::-webkit-scrollbar-thumb {
	  background: #756b64;
	}

	::-webkit-scrollbar-thumb:hover {
	  background: #94d3ac;
	}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Miscellaneous END */